.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.textarea {
  width: 100%;
  height: 100px;
}

.keyboard-wrapper {
  width: 590px;
  margin-top: 14px;
}

.button {
  margin-left: 2px;
  font-size: 1.2em;
  cursor: pointer;
  border-radius: 3px;
  min-width: 2rem;
  height: 2rem;
  outline: none;
}

.button__primary {
}

.button__secondary {
  background-color: #4d4d4d;
  color: #fff;
}

.button__active {
  border-color: tomato;
}
